# Trabalho Prático - Módulo II Big Data

## Imports

In [167]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pyspark.sql.functions as f
import pyspark.sql.types as t
from pyspark.sql.functions import desc #desc_nulls_last
from pyspark.sql.window import Window

In [28]:
import findspark
findspark.init()

In [29]:
spark = SparkSession.builder.config('spark.executor.memory', '8G').getOrCreate()

### Caminho dos arquivos

In [30]:
imdb_path = 'C:\\Users\\barba\\Documents\\desafio\\data\\imdb\\'

In [31]:
imdb_path

'C:\\Users\\barba\\Documents\\desafio\\data\\imdb\\'

In [32]:
df_titles = spark.read.csv(imdb_path + 'title_basics', header=True, sep='\t')

In [33]:
df_titles.limit(5).show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+

In [34]:
df_ratings = spark.read.csv(imdb_path + 'title_ratings', header=True, sep='\t')

In [35]:
df_ratings.limit(5).toPandas()

      tconst averageRating numVotes
0  tt0000001           5.7     1826
1  tt0000002           6.0      234
2  tt0000003           6.5     1585
3  tt0000004           6.1      152
4  tt0000005           6.2     2405

### Quantos filmes (incluindo os da televisão) foram lançados no ano de 2015?

In [36]:
(
    df_titles
    .withColumn('startYear', f.col('startYear').cast('int'))
    .filter('startYear == 2015')
    .groupby('titleType')
    .agg(f.count(f.col('startYear')).alias('ano_2015'))
    .toPandas()
)

      titleType  ano_2015
0      tvSeries     10173
1  tvMiniSeries      2300
2       tvMovie      3563
3     tvEpisode    262588
4         movie     16471
5     tvSpecial      1280
6         video     13548
7     videoGame      1203
8       tvShort       642
9         short     46086

In [119]:
(
    df_titles
    .withColumn('startYear', f.col('startYear').cast('int'))
    .filter('(titleType IN("tvMovie", "movie")) AND startYear == 2015')
#     .groupby('titleType')
    .agg(f.count(f.col('startYear')).alias('filmes_lancados_2015'),)
    .toPandas()
)

   filmes_lancados_2015
0                 20034

Qual o gênero de títulos mais frequente?
Dica: Utilize as funções split e explode.

In [38]:
  ( 
    df_titles
    .withColumn('genres_array', f.split(f.col('genres'), ','))
    .withColumn('genres_unico', f.explode(f.col('genres_array')))
    .groupby('genres_unico')
    .agg(f.count(f.col('genres_unico')).alias('total'),)
    .orderBy(desc('total'))
    .toPandas()
)

   genres_unico    total
0         Drama  2299982
1        Comedy  1676614
2         Short  1031687
3     Talk-Show   883421
4   Documentary   772857
5       Romance   733744
6            \N   640745
7        Family   585333
8          News   547293
9    Reality-TV   432424
10    Animation   413504
11        Music   402852
12        Crime   351430
13       Action   336351
14    Adventure   322449
15    Game-Show   261923
16        Adult   248882
17        Sport   181659
18      Fantasy   175793
19      Mystery   163252
20       Horror   147284
21     Thriller   136904
22      History   116042
23       Sci-Fi    97049
24    Biography    88726
25      Musical    64153
26          War    30016
27      Western    27788
28    Film-Noir      762

Qual o gênero com a melhor nota média de títulos?

In [39]:
(
    df_titles
    .join(df_ratings, 'tconst', 'left')
    .withColumn('genres_array', f.split(f.col('genres'), ','))
    .withColumn('genres_unico', f.explode(f.col('genres_array')))
    .limit(5)
    .toPandas()
)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,genres_array,genres_unico
0,tt0000658,short,The Puppet's Nightmare,Le cauchemar de Fantoche,0,1908,\N,2,"Animation,Short",6.5,215,"[Animation, Short]",Animation
1,tt0000658,short,The Puppet's Nightmare,Le cauchemar de Fantoche,0,1908,\N,2,"Animation,Short",6.5,215,"[Animation, Short]",Short
2,tt0000839,short,The Curse of Money,The Curse of Money,0,1909,\N,\N,"Drama,Short",None,None,"[Drama, Short]",Drama
3,tt0000839,short,The Curse of Money,The Curse of Money,0,1909,\N,\N,"Drama,Short",None,None,"[Drama, Short]",Short
4,tt0001170,short,A Cowboy's Vindication,A Cowboy's Vindication,0,1910,\N,\N,"Short,Western",None,None,"[Short, Western]",Short

In [40]:
 (
    df_titles
    .join(df_ratings, 'tconst', 'left')
    .withColumn('genres_array', f.split(f.col('genres'), ','))
    .withColumn('averageRating', f.col('averageRating').cast('float'))
    .withColumn('genres_unico', f.explode(f.col('genres_array')))
    .groupby('genres_unico')
    .agg(f.avg(f.col('averageRating')).alias('maior_media'),)
    .orderBy(desc('maior_media'))
    .toPandas()
)

   genres_unico  maior_media
0       History     7.354228
1   Documentary     7.242024
2     Biography     7.170921
3       Mystery     7.162031
4         Crime     7.160669
5     Adventure     7.112291
6       Fantasy     7.101233
7     Animation     7.095853
8        Family     7.081125
9       Western     7.065772
10        Drama     7.039283
11       Action     7.019494
12          War     7.004448
13        Sport     6.992834
14       Comedy     6.976495
15        Music     6.968545
16    Game-Show     6.916617
17   Reality-TV     6.903836
18      Romance     6.861581
19    Talk-Show     6.799988
20        Short     6.788220
21       Sci-Fi     6.751534
22         News     6.692320
23      Musical     6.611516
24    Film-Noir     6.554402
25           \N     6.436856
26     Thriller     6.343849
27        Adult     6.302249
28       Horror     6.084600

Qual o vídeo game do gênero aventura mais bem avaliado em 2020?

In [44]:
 (
    df_titles
    .join(df_ratings, 'tconst', 'left')
    .filter('titleType == "videoGame"')
    .withColumn('averageRating', f.col('averageRating').cast('float'))
    .withColumn('genres_array', f.split(f.col('genres'), ','))
    .withColumn('genres_unico', f.explode(f.col('genres_array')))
    .withColumn('primaryTitle', f.col('primaryTitle'))
    .withColumn('originalTitle', f.col('originalTitle'))
    .groupby('genres_unico')
    .agg(f.avg(f.col('averageRating')).alias('maior_media'),)
    .orderBy(desc('maior_media'))
    .toPandas()
)

   genres_unico  maior_media
0         Drama     7.614069
1       History     7.514634
2       Mystery     7.426744
3     Biography     7.350000
4         Crime     7.348819
5       Fantasy     7.288354
6     Adventure     7.286398
7        Horror     7.233473
8        Comedy     7.193514
9           War     7.169014
10      Musical     7.096429
11       Action     7.062272
12     Thriller     7.033831
13      Romance     7.024510
14    Animation     7.018301
15       Sci-Fi     6.999064
16   Reality-TV     6.900000
17        Music     6.873881
18        Adult     6.853333
19       Family     6.815352
20      Western     6.797826
21        Sport     6.785054
22           \N     6.779552
23  Documentary     6.733333
24        Short     6.600000
25    Game-Show     6.428571
26    Talk-Show          NaN
27         News          NaN

In [52]:
 (
    df_titles
    .join(df_ratings, 'tconst', 'left')
    .filter('titleType == "videoGame" and startYear == 2020')
    .withColumn('genres_array', f.split(f.col('genres'), ','))
    .withColumn('genres_unico', f.explode(f.col('genres_array')))
    .withColumn('primaryTitle', f.col('primaryTitle'))
    .withColumn('originalTitle', f.col('originalTitle'))
    .filter('genres_unico == "Adventure"')
    .groupby('originalTitle')
    .agg(f.avg(f.col('averageRating')).alias('maior_media'),)
    .orderBy(desc('maior_media'))
    .toPandas()
)

                     originalTitle  maior_media
0                  Half-Life: Alyx          9.5
1                Ghost of Tsushima          9.3
2                            Omori          9.2
3         Final Fantasy VII Remake          9.1
4    Ori and the Will of the Wisps          9.1
..                             ...          ...
296         For the Love of Nachos          NaN
297                   Tintin Match          NaN
298                       Gigycube          NaN
299                   Kazakh Drive          NaN
300           LUNA the Shadow Dust          NaN

[301 rows x 2 columns]

Qual seria a forma mais adequada de preencher dados nulos da coluna “col1” com o valor da coluna “col2”?

In [72]:
(
    df_titles
    .replace('\\N', None, subset=['startYear', 'endYear', 'runtimeMinutes'])
    .filter("startYear is null and runtimeMinutes is not null")
#     .na.fill('Não se sabe', subset=['startYear'])
#     .orderBy(f.asc_nulls_first('endYear'))
#     .na.drop(subset=['startYear'])
    .withColumn('coalesce_test', f.coalesce(f.col("startYear"), f.col("runtimeMinutes"), f.lit('Sem ano')))
    .limit(5)
    .toPandas()
)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,coalesce_test
0,tt0067098,tvEpisode,Willi Forst,Willi Forst,0,None,None,55,\N,55
1,tt0073399,movie,Atlantic City Jackpot,The Money,0,None,None,88,"Action,Drama",88
2,tt0090238,movie,Unternehmen Geigenkasten,Unternehmen Geigenkasten,0,None,None,82,"Crime,Family",82
3,tt0098828,tvSeries,Idol Angel Yohkoso Yohko,Idol Angel Yohkoso Yohko,0,None,None,23,"Animation,Comedy",23
4,tt0102172,tvEpisode,Episode #1.2,Episode #1.2,0,None,None,81,"Drama,History",81

Qual o percentual de títulos do gênero comédia lançados em 2018 em relação ao total de títulos lançados nesse ano?

Dica: Utilize as funções Split, explode e uma window function.

In [151]:
 
    w = Window.partitionBy('genres_unico').orderBy('startYear').rowsBetween(Window.unboundedPreceding, Window.currentRow)
    (
    df_titles
    .withColumn('startYear', f.col('startYear').cast('int'))
    .withColumn('genres_array', f.split(f.col('genres'), ','))
    .withColumn('genres_unico', f.explode(f.col('genres_array')))
    .withColumn('primaryTitle', f.col('primaryTitle'))
    .withColumn('originalTitle', f.col('originalTitle'))
    .filter('(startYear == 2018 OR startYear == 2021) AND genres_unico == "Comedy"')
    .groupby('genres_unico','startYear')
    .agg(f.expr('avg(originalTitle) as total_filmes'))
    .withColumn('variacao % 2021 - 2018', f.round(f.mean('total_filmes').over(w), 3))
    .toPandas()
)

  genres_unico  startYear  total_filmes  variacao % 2021 - 2018
0       Comedy       2018   5316.888679                5316.889
1       Comedy       2021   3875.542735                4596.216

In [158]:
from unidecode import unidecode
from pyspark.sql.types import StringType

In [169]:
unidecode('àáâçéõü')
def unidecode_function(string):
    if not string:
        return None
    else:
        return unidecode(string)

unidecode_udf = f.udf(unidecode_function, returnType=StringType())

In [178]:

def sqr_divide(value):

    return (value**2)/2

sqr_divide_udf = f.udf(sqr_divide)

In [179]:
(
    df_ratings
    .withColumn('averageRating', f.col('averageRating').cast('double'))
    .select(sqr_divide_udf('averageRating').alias('averageRating'))
    .agg(f.mean('averageRating').alias('averageRating'))
    .show()
)

+-----------------+
|    averageRating|
+-----------------+
|24.93777977614497|
+-----------------+