# Trabalho Prático - Módulo II Big Data

## Imports

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [2]:
import findspark
findspark.init()

In [4]:
spark = SparkSession.builder.config('spark.executor.memory', '8G').getOrCreate()

### Caminho dos arquivos

In [25]:
imdb_path = 'C:\\Users\\barba\\Documents\\desafio\\data\\imdb\\'

In [26]:
imdb_path

'C:\\Users\\barba\\Documents\\desafio\\data\\imdb\\'

In [27]:
df_titles = spark.read.csv(imdb_path + 'title_basics', header=True, sep='\t')

In [28]:
df_titles.limit(5).show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+

In [29]:
df_ratings = spark.read.csv(imdb_path + 'title_ratings', header=True, sep='\t')

In [30]:
df_ratings.limit(5).toPandas()

      tconst averageRating numVotes
0  tt0000001           5.7     1826
1  tt0000002           6.0      234
2  tt0000003           6.5     1585
3  tt0000004           6.1      152
4  tt0000005           6.2     2405