## Semana 02 - Big Data

## Bibliotecas

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

## Setup

In [2]:
import findspark
findspark.init()

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
df = spark.createDataFrame([('Pedro', '4'), ('João', '5')], schema = 'nome STRING, id STRING')

In [5]:
df.show()

+-----+---+
| nome| id|
+-----+---+
|Pedro|  4|
| João|  5|
+-----+---+

## Acessando os Tipos de Dados

In [13]:
from pyspark.sql.types import *

In [7]:
int_type = IntegerType()
int_type

IntegerType

In [8]:
array_type = ArrayType(IntegerType())
array_type

ArrayType(IntegerType,true)

## Convertendo os tipos de Colunas

In [9]:
df.dtypes

[('nome', 'string'), ('id', 'string')]

In [10]:
df.select('nome', col('id').cast(IntegerType())).dtypes

[('nome', 'string'), ('id', 'int')]

### forma alternativa
IntegerType() == 'int'
StringType() == 'string'
FloatType() == 'float'

ArrayType(IntegralType()) == 'ARRAY<INT>'

In [16]:
df.select('nome', col('id').cast('int')).dtypes

[('nome', 'string'), ('id', 'int')]